*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height : 200%;
    background-image: url(img1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:  center ;  
    background-attachment: fixed !important;
    background-size: cover !important;
}


header{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
}

.navbar{
  display: flex;
  align-items: center;
}

.nav-left{
  display: flex;
  flex:1;
  align-items: center;
  padding-left: 30px;
}

.nav-center{
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.nav-right{
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 70px;
}

.nav-center a{
    text-decoration: none;
    color:#000;
    font-weight: 800;
}

.nav-right a{
    text-decoration: none;
    font-weight: 900;
    color:#000;
}

.logo-text{
  margin: 0;                 
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 6px;
  color: #000;
  line-height: 1;
}

.nav-center a:hover{
  color: red;
}

.nav-right a:hover{
    color:red;
}

.container{
    min-height: 100vh;
    display:flex;
    align-items: center;
    padding-left: 90px;
    padding-right: 120px;
}

.hero-content{
   max-width: 620px;
}

.hero-content h1{
    font-size: 5.9rem;
    line-height: 1;
    font-family: 'Playfair Display', serif;
    color: #000;
    margin-bottom: 28px;  
    font-weight: 700;
}

.search-box{
    display: flex;
    align-items: center;
    gap:18px;
}

.search-box input{
   width : 280px;
   font-size: 15px;
   border:none;
   outline:none;
   border-radius: 10px;
   padding: 14px 18px;
}

.search-box button{
    font-size: 14px;
    background: #ff8c00;
     color: #fff;
    border:none;
    outline:none;
    border-radius: 10px;
    padding: 12px 22px;
    cursor : pointer;
}


.about-us{
  background: #f3f3f3;
  padding: 80px 0;
}


.about-container{
  display: flex;
  gap: 60px;
  max-width: 1400px;
  margin: 0 auto;
  align-items: flex-start;  
}


.restaurant{
  flex: 1.2;                 
}

.restaurant img{
  width: 100%;
  height: auto;
  display: block;
}


.about-content{
  flex: 0.8;
  max-width: 520px;          /
}

.about-content h4{
  color: #ff8a00;
  letter-spacing: 2px;
  font-size: 35px;
  margin-bottom: 16px;
}

.about-content h1{
  font-size: 56px;
  line-height: 1.1;
  margin-bottom: 19px;
}

.about-content p{
  color: #555;
  line-height: 1.7;
  margin-bottom: 12px;
}

.about-btn{
  display: inline-flex;
  align-items: center;
  border-radius: 35px;
  overflow: hidden;
  text-decoration: none;
  margin-top: 22px;
}

.btn-text{
  background: #ff8a00;
  color: #fff;
  padding: 14px 26px;
  font-size: 16px;
}

.btn-arrow{
  background: #ffb04a;
  color: #fff;
  padding: 14px 18px;
  font-size: 17px;
}
