*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height : 200%;
    background-image: url(img1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:  center ;  
    background-attachment: fixed !important;
    background-size: cover !important;
}


header{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
}

.navbar{
  display: flex;
  align-items: center;
}

.nav-left{
  display: flex;
  flex:1;
  align-items: center;
  padding-left: 30px;
}

.nav-center{
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.nav-right{
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 70px;
}

.nav-center a{
    text-decoration: none;
    color:#000;
    font-weight: 800;
}

.nav-right a{
    text-decoration: none;
    font-weight: 900;
    color:#000;
}

.logo-text{
  margin: 0;                 
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 6px;
  color: #000;
  line-height: 1;
}

.nav-center a:hover{
  color: red;
}

.nav-right a:hover{
    color:red;
}

.container{
    min-height: 100vh;
    display:flex;
    align-items: center;
    padding-left: 90px;
    padding-right: 120px;
}

.hero-content{
   max-width: 620px;
}

.hero-content h1{
    font-size: 5.9rem;
    line-height: 1;
    font-family: 'Playfair Display', serif;
    color: #000;
    margin-bottom: 28px;  
    font-weight: 700;
}

.search-box{
    display: flex;
    align-items: center;
    gap:18px;
}

.search-box input{
   width : 280px;
   font-size: 15px;
   border:none;
   outline:none;
   border-radius: 10px;
   padding: 14px 18px;
}

.search-box button{
    font-size: 14px;
    background: #ff8c00;
     color: #fff;
    border:none;
    outline:none;
    border-radius: 10px;
    padding: 12px 22px;
    cursor : pointer;
}


.about-us{
  background: #f3f3f3;
  padding: 80px 0;
}


.about-container{
  display: flex;
  gap: 60px;
  max-width: 1400px;
  margin: 0 auto;
  align-items: flex-start;  
}


.restaurant{
  flex: 1.2;                 
}

.restaurant img{
  width: 100%;
  height: auto;
  display: block;
}


.about-content{
  flex: 0.8;
  max-width: 520px;          /
}

.about-content h4{
  color: #ff8a00;
  letter-spacing: 2px;
  font-size: 35px;
  margin-bottom: 16px;
}

.about-content h1{
  font-size: 56px;
  line-height: 1.1;
  margin-bottom: 19px;
}

.about-content p{
  color: #555;
  line-height: 1.7;
  margin-bottom: 12px;
}

.about-btn{
  display: inline-flex;
  align-items: center;
  border-radius: 35px;
  overflow: hidden;
  text-decoration: none;
  margin-top: 22px;
}

.btn-text{
  background: #ff8a00;
  color: #fff;
  padding: 14px 26px;
  font-size: 16px;
}

.btn-arrow{
  background: #ffb04a;
  color: #fff;
  padding: 14px 18px;
  font-size: 16px;
}

.foodgallery{
  padding: 60px 80px;
  background: #fff;
  border: 0px solid black;
}

.foodgallery h1{
  text-align: center;
  font-size:30px;
  color: #ff8a00;
  margin-bottom: 40px;
}

.gallery-grid{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:20px;
}

.column{
  display: flex;
  flex-direction: column;
  gap:30px;
  flex:1;
}

.column.tall{
  flex:1.2;
}

.card img{
  width:100%;
  height:460px;
  object-fit: cover;
  display: block;
}

.column.tall .card img{
  height:1010px;
}

.title{
  display: block;
  font-weight: 600;
  margin-top: 10px;
  font-size: 21px;
}

.desc{
  display: block;
  font-size: 18px;
  color: #555;
}

.hours{
  height: 120vh;
  width:100%;
  background-image: url("hoursbackgroundimage.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(8px);
}

.overlay{
  height: 100%;
  width:100%;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.small-title{
  color: #ff8800;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 45px;
  margin-top : 10px;
}

.main-title{
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 70px;
  margin-top: 20px;
}

.call-box{
display: flex;
flex-direction: column;  
align-items: center;
margin-bottom: 40px;
font-size: 50px;
gap:10px;
}

.call-box .icon{
  font-size: 45px;
  color: #ff8800;
}
.call-box a{
   color:#ff8800;
   font-weight: 600;
   font-size: 40px;
   margin-bottom: 20px;
   gap:20px;
   text-decoration: underline;
}

.timings{
  width:40%;
  display:flex;
  justify-content:space-between;
  margin-bottom:50px;
}

.time-block{
  font-size: 30px;
  font-weight: 700;
}

.day{
   font-size: 30px;
   font-weight: 600;
}

.time{
   font-size: 30px;
}

.inner-img{
  width:900px;
  border:2px solid 000;
}

